.presentacion{
  background-color:rgb(254, 199, 215);
  min-height: 100vh;
}
.projectos{
  background-color:rgb(14, 23, 44);
  min-height: 100vh;
}
.contacto{
  background-color:rgb(254, 199, 215);
  min-height: 100vh;
}
.footer{min-height: 100vh;
  background-color:rgb(14, 23, 44)}
.card{
  background: rgba(255, 255, 255, 0.1);
}
.titulo-presentacion{
  font-family: VT323
  ;font-weight: 700;}
::-webkit-scrollbar{
  display: none;
}

.elementDer.visibleDer {
  transform: translateX(0) translateY(0) translateZ(0);
  animation: aparecer 1s ease-in-out forwards;
}

.elementIzq.visibleIzq {
  transform: translateX(0) translateY(0) translateZ(0);
  animation: aparecer 3s ease-in-out forwards;
}
.blurred{
  filter: blur(50px);
}
.tituloProceso{
  font-family: VT323;
  font-weight: 700;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 768px) {
.desaparecer{
  display: none;
  
}
}