* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*
  border: 1px solid red;
  */  

}
body{
  color: #0e172c;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: VT323;
}
::-webkit-scrollbar{
  display: none;
}
a{
  text-decoration: none;
  color: #f9f8fc;
}
.elementDer{
  opacity: 0;
  transform: translateX(10px) translateY(20px);
  transition: opacity 1s ease, transform 2s ease;
}
.elementIzq{
  opacity: 0;
  transform: translateX(-10px) translateY(20px);
  transition: opacity 1s ease, transform 2s ease;
}
.precentacion{
  color: #0e172c;
  animation: cambioColor 4s forwards;
}
.elementDer.visibleDer {
  opacity: 1;
  transform: translateX(0) translateY(0) translateZ(0);
}
.elementIzq.visibleIzq {
  opacity: 1;
  transform: translateX(0) translateY(0) translateZ(0);
}
.lista{
  display: flex;
          flex-direction: row;
          justify-content: center;
}
.lista  > li{
  list-style: none;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3%;
  border-radius: 10px;
  height: 30px;
  background-color: #0e172c;
  color: #fffffe;
}
.tituloProjecto{
  height: 10%;
  display: flex;
        border-bottom: 1px solid black;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
}
.tituloProjecto > h1{
  margin: 1%;
}
.Info{
  padding: 1%;
  border-top: 1px solid black;
  display: flex
;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

}
.caract{
  width: 50%;
  text-align: left;
  border-right: 1px solid black;
}
.tec{
  width: 50%;
  text-align: center;
}
.botonProjecto {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0e172c;
  color: #f9f8fc;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin: 1%;
}

.botonProjecto:hover {
  background-color: #f9f8fc;
  color: #0e172c;
}
/*Escritorio*/
@media screen and (min-width: 1024px){
.seccion{
  height: 100vh;
  min-height: 750px;
}
.contenedor{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedorFoto{
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
.contenedorPresentacion{
  display: flex  ;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  
}
.titulo{
padding: 1%;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 45%;
  overflow: hidden; 
  white-space: nowrap;
  animation: typing 4s steps(30);
}
.titulo::after{
content: "|";
animation: aparecer 1s infinite alternate;
}
.subTitutlo{
  margin:1%;
  font-family: VT323;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50%;
    animation: aparecer 2s steps(30);
}
.parrafoPresentacion{
    margin: 1%;
     font-family: VT323;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 90%;
    animation: aparecer 2s steps(30);
}

.fotoCV{
    margin-left: 50px;
    width: 50%;
    max-width: 100%;
    height: auto;
    flex-shrink: 0;
    box-sizing: border-box;
    animation: aparecer 2s steps(30);
    animation: movimiento 1s;
}
.tituloSeconSeccion{
  margin:1%;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.projectos{
  background-color: #fffffe;
  color: #0e172c;
  display: flex;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.projecto{
  background-color: #d9d4e7;
  margin: 1%;
  width: 80%;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 3px 14px 5px 0px black;
}

.imagenProjecto{
  width: 100%;
  overflow: hidden;
}
.imagenProjecto > img {
  width: 100%;
  display: block; /* Evita el pequeño espacio debajo de la imagen */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transición suave */
}
.imagenProjecto > img:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.05); /* Agranda un poco la imagen al hacer hover */
}


.precentacion{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedorContacto{
  display: flex;
          width: 100%;
          height: 100vh;
          margin: 1%;
          padding: 1%;
          min-height: 720px;
          flex-wrap: nowrap;
          flex-direction: row;
          justify-content: center;
          align-items: center;
}
.fotoContacto{
  width: 40%;
  height:70%;
  border-radius: 0 10px 10px 0;
}
form{
  background-color: #0e172c;
  color: #d9d4e7;
  display: flex;
  height: 70%;
  width: 50%;
  border-radius: 10px 0 0 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}
form > label{
  margin: 1%;
  font-size: 25px;
}
form > textarea{
  background-color: #d9d4e7;
  width: 98%;
  max-width: 98%;
  min-height: 20%;
  max-height: 25%;
  padding-top: 10px;
  padding-left: 20px;
  margin: 1%;
  font-size: 15px;
  border-radius: 10px;
}
form > input {
  background-color: #d9d4e7;
  width: 98%;
  margin: 1%;
  height: 4rem;
  padding-left: 20px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
}
form > button{
  font-size: 20px;
  font-weight: 700;
    background-color: #a786df;
  margin: auto;
  width: 20%;
  height: 10%;
  border-radius: 10px
}
form > button:hover{
  background-color: #fffffe;
  cursor: pointer;
  border: 5px solid #a786df;
}
footer{
  background-color: #0e172c;
  color: #fffffe;
}
.sobreMi{
  padding: 1%;
  display: flex
  ;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 1%;
}
.sobreMiExplicacion{
  display: flex
  ;
          flex-direction: column;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: space-evenly;
}
.redSocial{
  display: flex
  ;
          flex-direction: column;
          width: 100%;
          align-items: center;
}
.fotoSobreMi{
  border-radius: 25px;
  width: 400px;
}

.parrafoSobreMi{
  font-size: 25px;
}
.fotoSocial:hover{
  border: 1px solid #fffffe;
  cursor: pointer;
  color: #0e172c;
  background-color: #fffffe;
}
.iconosRedSocial{
  display: flex
  ;
          width: 100%;
          justify-content: space-evenly;
}
}
/*
@media screen and (min-width: 1024px) and (min-height:720px) {
  body{
    background: linear-gradient(to bottom, #050806, #0f9b0f);
    width: 100vw;
    max-width: 100%;
    margin: auto;
  }
  .contenedor{
    color: #050806;
    font-family: Poppins;
  }
.contenedorMajor{
  width: 100%;
  height: 100vh;
  min-height: 900px;
  display: flex
;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  }
  .contenedroPresentacion{
    height: 50%;
    max-height: 60%;
    width: 60%;
    margin: auto;
    display: flex
;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    animation: movimiento 1s;
    transition: ease;
  }
  .contenedorNavegador {
    color: white;
    width: 60%;
    height: 60%;
    margin: auto;
    border-radius: 50px;
    background: rgba(42, 118, 114, 0.17);
    display: flex
  ;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-around;
  }
.contenedroPresentacionFoto{
  width: 20%;
  height: 100%;
  display: flex
;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

}
.contenedorPresentacionEscrita{
  min-width: 50%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.fila1{
        width: 100%;
        height: 60%;
        padding: 10px;
        display: flex ;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
}
.fila2{
    width: 100%;
    padding: 10px;
    display: flex    ;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}
.elementGit{
  background-image: url('./assets/github.jpg') ;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}
.elementLinkedin{
  background-image: url('./assets/linkedin.jpg') ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}
.elementSobreMi{
  background-image: url('./assets/sobremi.jpg') ;
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
}
.elementProyectos{
  background-image: url('./assets/proyectos.jpg') ;
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
}
.elementContacto{
  background-image: url('./assets/contacto.jpg') ;
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
}
.element{
    width: 100%;
    max-width: 261px;
    height: 261px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.50);
}
.element:hover,.element2:hover{
  animation: crecer 0.1s forwards;
  cursor: pointer;
}
.element2{
  width: 100%;
  max-width: 40%;
  height: 100px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.50);
}


.coding{
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    opacity: 50%;
}
.footer {
  margin-top: 10px;
  position: relative; 
    bottom: 0;
    width: 100%;
    height: 10dvh; 
    background-size: cover;
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin-bottom: -10px;
    background: #050806;
  }
.footer p {
    margin: 0;
    font-size: 0.9rem;
  }
  
}
*/
/*Telefono*/
@media screen and (max-width: 768px){
  .seccion{
    min-height: 720px;
    width: 100%;
    min-width: 720px;
  }
  img{
    max-width: 100%;
  }
  .fotoCV{
    width: 50%;
    height: auto;
    flex-shrink: 0;
    box-sizing: border-box;
    animation: aparecer 2s steps(30);
    animation: movimiento 1s;
  }
  .precentacion{
    color: #0e172c;
    animation: cambioColor 4s forwards;
    display: flex
;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contenedor{
    display: flex
    ;
            min-height: 80vh;
            flex-direction: column;
            align-items: center;
            justify-content: center;
  }
  .contenedorFoto{
    display: flex    ;
    width: 60%;
            align-items: center;
            justify-content: center;
    
  }
  .contenedorPresentacion {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
  }
  .titulo{
      padding: 1%;
      font-size: 30px;
      text-align: center;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      width: 45%;
      overflow: hidden; 
      white-space: nowrap;
      animation: typing 4s steps(30);
    }
    .titulo::after{
    content: "|";
    animation: aparecer 1s infinite alternate;
    }
    .subTitutlo{
      padding: 1%;
      font-family: VT323;
      text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 45%;
        animation: aparecer 2s steps(30);
    }
    .parrafoPresentacion{
        padding: 1%;
         font-family: VT323;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 90%;
        animation: aparecer 2s steps(30);
    }
    .tituloSeconSeccion{
      margin:1%;
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .projectos{
      background-color: #fffffe;
      color: #0e172c;
      display: flex
;
      height: 100%;
      min-height: 100vh;
      width: 100%;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      margin-bottom: 5%;
    }
    .projecto{
      background-color: #d9d4e7;
      margin: 1%;
      width: 90%;
      height: 75vh;
      border: 1px solid black;
      border-radius: 10px;
      box-shadow: 3px 14px 5px 0px black;
    }
    .caract{    text-align: center;}
    .lista{
      display: flex
;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    }
    
    .contenedorContacto{
      display: flex;
              width: 100%;
              height: 100vh;
              margin: 1%;
              padding: 1%;
              min-height: 720px;
              flex-wrap: nowrap;
              flex-direction: row;
              justify-content: center;
              align-items: center;
    }
    .fotoContacto{
      width: 40%;
      height:70%;
      border-radius: 0 10px 10px 0;
    }
    form{
      background-color: #0e172c;
      color: #d9d4e7;
      display: flex
;
      height: 77%;
      width: 90%;
      border-radius: 10px;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
    }
    form > label{
      margin: 1%;
      font-size: 25px;
    }
    form > textarea{
      background-color: #d9d4e7;
      width: 98%;
      max-width: 98%;
      min-height: 20%;
      max-height: 25%;
      padding-top: 10px;
      padding-left: 20px;
      margin: 1%;
      font-size: 15px;
      border-radius: 10px;
    }
    form > input {
      background-color: #d9d4e7;
      width: 98%;
      margin: 1%;
      height: 4rem;
      padding-left: 20px;
      font-weight: 700;
      border-radius: 10px;
      border: none;
    }
    form > button{
      font-size: 20px;
      font-weight: 700;
        background-color: #a786df;
      margin: auto;
      width: 20%;
      height: 10%;
      border-radius: 10px
    }
    .fotoContacto{
      display: none;
    }
    .footer{
      background-color: #0e172c;
      color: #fffffe;
      display: flex
;
      flex-direction: column;
      align-items: center;
    }
    .sobreMi{
      display: flex;
    }
    .fotoSobreMi {
      display: none;
    }
    .sobreMiExplicacion{
      height: 80vh;
      display: flex
;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .f{
      background-color: #0e172c;
    }
    .redSocial{
      display: flex
;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
    }
    .iconosRedSocial{
      padding-top: 50px ;
      display: flex;
      width: 100%;
      justify-content: space-evenly;
    }
}
/*----------------------------------------------------------- Animacion ----------------------------------------------------------- */
@keyframes typing {
    from {
      width: 0%;
    }
    to {
      width: 40%;
    }
  }

@keyframes crecer {
  from{
      transform: scale(1);
    }
  to{
    transform: scale(1.3);
    box-shadow: inset 0px -20px 20px 20px black;
  }
}

@keyframes aparecer {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes movimiento {
  0%   { left:-500px; }
  100% { left:0px; }
}
@keyframes cambioColor {
  from{
    background-color: #fffffe;
  }
  to{
    background-color: #fec7d7;
  }
}
@keyframes back {
0%   { background-color: rgb(0, 0, 0);
color: black; ;}
50%  { background-color: rgb(133, 133, 133);
color: black; }
100% { background-color: rgb(255, 255, 255);
color: black;}
}